<div id="cart-container" data-cart-id="{{cart._id}}">

  <h1>Tu carrito</h1>

  {{#if cart.products.length}}
    <ul>
      {{#each cart.products}}
        <li>
          {{this.product.title}}
          - ${{this.product.price}}
          (Cantidad:
          {{this.quantity}}) - Subtotal: ${{this.subtotal}}

          <button
            class="btn-remove-product"
            data-product-id="{{this.product._id}}"
          >
            Quitar
          </button>
        </li>
      {{/each}}
    </ul>

    <hr />

    <h3>Total: ${{cart.total}}</h3>

    <button id="btn-clear-cart">
      Vaciar carrito
    </button>

    <button id="btn-purchase-cart">
      Finalizar compra
    </button>

  {{else}}
    <p>El carrito está vacío</p>
  {{/if}}

</div>

<script src="/js/cartView.js"></script>