<div class="detail-wrapper">
  <div class="detail-card-container" data-stock="{{product.stock}}" data-id="{{product._id}}">
    {{> productCard product showDescription=true showActions=false showDetailButton=false user=user}}

    <div class="product-actions">
      <div class="quantity-control">
        <button onclick="decreaseQuantity()">-</button>
        <span id="quantity">1</span>
        <button onclick="addQuantity()">+</button>
      </div>

      {{#if user}}
        <button
          class="btn-add"
          onclick="addToCartDetail('{{user.cart}}', '{{product._id}}', count)"
        >
          Agregar al carrito
        </button>
      {{else}}
        <a href="/login">
          <button class="btn-add">
            Iniciar sesión para comprar
          </button>
        </a>
      {{/if}}
    </div>
  </div>
</div>

<script src="/js/product.js"></script>