
  {{#with product}}
  <div class="product-detail" data-stock="{{stock}}" data-id="{{_id}}"></div>
    <img src="{{thumbnail}}" alt="{{title}}" />
    <div class="product-text">
      <h1>{{title}}</h1>
      <p>Precio: ${{price}}</p>
      <p>{{description}}</p>

      <div>
        <button onclick="decreaseQuantity()">-</button>
        <p id="quantity">1</p>
        <button onclick="addQuantity()">+</button>
        <button onclick="addToCart()">Agregar al carrito</button>
      </div>
    </div>
  </div>
  {{/with}}


<script src="/js/product.js"></script>