<h2>Perfil</h2>

<p>Bienvenido, {{user.first_name}} {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Rol: {{user.role}}</p>
<a href="/carts/{{user.cart}}">Mi carrito</a>
<a href="/api/sessions/logout">Cerrar sesión</a>