<div class="product-card">
  <div class="card-content">
    <img src="{{thumbnail}}" alt="{{title}}" />
    <h3>{{title}}</h3>
    <p>Precio: ${{price}}</p>

    {{#if showDescription}}
      <p>{{description}}</p>
    {{/if}}
  </div>

  {{#if showActions}}
    <div class="card-actions">
      <button onclick="addToCart('{{_id}}', 1)">
        Agregar al carrito
      </button>

      {{#if showDetailButton}}
        <a href="/products/{{_id}}">
          <button>Ver detalle</button>
        </a>
      {{/if}}
    </div>
  {{/if}}
</div>