<div class="product-card">
  <div class="card-content">
    <img src="{{thumbnail}}" alt="{{title}}" />
    <h3>{{title}}</h3>
    <p>Precio: ${{price}}</p>

    {{#if showDescription}}
      <p>{{description}}</p>
    {{/if}}
  </div>

  {{#if showActions}}
    <div class="card-actions">
      {{#if user}}
        <button onclick="addToCart('{{user.cart}}', '{{this._id}}')">
          Agregar al carrito
        </button>
      {{else}}
        <a href="/login">
          <button>Iniciar sesión para comprar</button>
        </a>
      {{/if}}

      {{#if showDetailButton}}
        <a href="/products/{{_id}}">
          <button>Ver detalle</button>
        </a>
      {{/if}}
    </div>
  {{/if}}
</div>